/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


img {
  border-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  overflow: visible;
}

body {
  background-color: #e6e6e6;
  overflow-x: hidden;
  overflow-y: scroll;
}
